* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #548687;
  text-align: center;
}

h1{
    padding: 2vh;   
}
.container {
  height: 50vh;
  margin: 7vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
  position: absolute;                                           
}

.box {
  height: 18vmin;
  width: 18vmin;
  border: none;
  outline: none;
  filter: drop-shadow(10px 10px 4px #6e6e6f);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffffc7;
}
.reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
}

.new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
}

.msg {
  color: #ffffc7;
  font-size: 6vmin;
}

.msg-container {
  padding-top: 2vmin;
  padding-bottom: 4vmin;
  height: 10vh;
}

.hide{
    display: none;
}